@import './base/variables';
@import './base/maps';
@import './base/extend';
@import './base/mixin';
@import './componentes/navYfooter';
@import './componentes/recuadrosNosYBod';
@import './componentes/tablasResYMar';

body{
background-image: url(../imagenes/viñedo\ 2.jpg);
background-attachment: fixed;

header{
    div{
        div{
            a{
                img{
                    height: $alto*13;
                    width: $alto*18;
                    opacity: 0.4;;
                }
            }
        }
    }
} 
main{
    h1{
        @include Titulos($fontsi*15, rgba(0, 0, 0, 0.766), 'Satisfy', 0px);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 350px;
    }
}
    .index{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: $alto*20;
        width: 100%;
        h2{
            @include Titulos($fontsi*10,rgba(0, 0, 0, 0.766), 'Satisfy', 10px );
        }
    }
}
